<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cycle Store</title>
</head>
<body>
    <header class="header">
        <div class="logo">
            <h2>Cycle Store</h2>
            <p>Where the world comes to shop Cycle!</p>

        </div>
        <nav class="navbar">
            <ul>
                <!-- <li><a routerLink="/restock">Restock</a></li> -->
                <li><a routerLink="/cycleStore">Cycle Store</a></li>
                <li><a routerLink="/cart">Cart</a></li>
                <li><a routerLink="/login">Login</a></li>
                <li><a routerLink="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>

    <div class="content">
        <router-outlet></router-outlet>
    </div>
</body>
</html>
